.container{
  justify-content: center;
  align-content: center;
  margin:10px;
  
  border-style: solid;
  border-width: 0px;
  border-color: black;
  height:80vh;
  width:80vw;
  background-size: cover;
}
.box{
  height: 50px;
  width:50px;
  border-color: rgb(0, 0, 0);
  border-width: 1px;
  border-style: solid;
  padding:0px;
  margin:0px;
}
.col{
  display: flex;
  flex-direction: row;
}
