.container{
   display: flex;
  justify-content: center;
  align-items: center;
  
  
  border-style: solid;
  border-width: 0px;
  border-color: black;
  height:100vh;
  width:100vw;
  margin:0;
  background-color:rgb(32, 32, 32);
  background-size: cover;
}
.container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  

  height:100vh;
  width:100vw;
  
  background-color:rgb(32, 32, 32);
  background-size: cover;
}
.box{
  height: 50px;
  width:50px;
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  padding:0px;
  margin:0px;
}
.col{
  display: flex;
  flex-direction: row;
}
.btn{
  width: 30vw;
  height: 5vh;
  border-radius: 10px;
  border-width: 0px;
  background-color: rgb(53, 247, 95);
  font-size: 30px;
  font-weight: bold;
  color:azure;
   box-shadow: 0 4px 20px rgba(74, 255, 149, 0.3);
  
}